* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}
main{
    flex-grow: 1;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
/*---------------------------------section deliveri-------------------------------------------*/
.deliveri{
    background-color: #212121;
    color: #fff;
    text-align: center;
}
.deliveri .container{
    padding-top: 80px;
    padding-bottom: 59px;
}
.deliveri__title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.deliveri__title span{
    font-weight: normal;
}
.deliveri__text{
    font-size: 21px;
}
/*----------------------------------section man-woman------------------------------------------------------*/
.man-woman .container{
    display: flex;
    flex-direction: row;
}