* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body{
    height: 100%;
    min-height: 100%;
}
html {
  box-sizing: border-box;
}

body{
    min-width: 1100px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}
main{
    flex-grow: 1;
}
header{
    background: #F9F6F1;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}
/*---------------------------------section deliveri-------------------------------------------*/
.deliveri{
    background-color: #212121;
    color: #fff;
    text-align: center;
}
.deliveri .container{
    padding-top: 80px;
    padding-bottom: 59px;
}
.deliveri__title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.deliveri__title span{
    font-weight: normal;
}
.deliveri__text{
    font-size: 21px;
}
/*----------------------------------section man-woman------------------------------------------------------*/
.man-woman{
    background: linear-gradient(90deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
}
.man-woman .container{
    display: flex;
    flex-direction: row;
}
.man{
    background: url(../img/man.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.woman {
    background: url(../img/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    padding-left: 35px;
    
}
.man, 
.woman{
    width: 50%;
    padding-top:60px ;
    padding-bottom: 58px;
}
.man-woman h2{
    font-size: 24px;
    margin-bottom: 25px;
}
.man-woman h2 span{
    font-weight: normal;
}
.man-woman p{
    font-weight: 200px;
}
.man-woman a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7b399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}
.man-woman a:hover{
    background: #997656;
}

/*------------------------------------ section header-menu ----------------------------------------*/
.header-menu{
    width: 918px; 
    min-height: 90px;
    height: 17px;
    margin-top: 61px;
    margin-left: 405px;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
}
.section_wrapper{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
}
.mainmenu_list{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 91px;
}
.header_logo {
    width: 201px;
    height: 40px;
    margin-top: 50px;
}
.mainmenu_item{
    width: 105px;
    height: 17px;
}
.menu_link{
    font-size: 14px;
    color: #212121;
    text-decoration: none;
}
.menu_link img{
    width: 5px;
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.basket{
    width: 91px;
    height: 30px;
}
.basket_item{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
}
/*---------------------------- section banner ------------------------------------------------------*/
/* .slider_item{
    min-height: 564px;
    background: url('../img/shoes.png') no-repeat r;
} */
/*--------------------------------------- section new ----------------------------------------------*/
.new .container{
    padding-top: 193px;
    padding-bottom: 107px;
    text-align: center;
}
.new h2{
    font-size: 36px;
    text-transform: uppercase;
}
.new button{
    width: 220px;
    height: 55px;
    background: #D7B399;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    font-family: "Montserrat", sans-serif;
}
.new button:hover,
.new button:focus{
    background: #947762;
}
.catalog{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card img{
    width: 85%;
}
.card{
    border: #D7B399 1px solid;
    width: 22%;
    min-height: 350px;
    padding: 22px 0 25px;
}
.card h3{
    font-size: 14px;
    font-weight: bold;
    margin-top: 35px;
}
.card-price{
    font-size: 18px;
    color: #D7B399;
    font-weight: bold;
    margin-top: 15px;
}